asgiref
certifi
charset-normalizer
django
django-cors-headers==4.9.0
djangorestframework
djangorestframework_simplejwt
idna
pillow

PyJWT
PyMuPDF
reportlab
requests
sqlparse
tzdata
urllib3
gunicorn
dj-database-url
psycopg2-binary
whitenoise
openai
fastapi
uvicorn
groq
python-docx
httpx
python-dotenv